.cources-body {
  background: darkgray;
  box-sizing: border-box;
  min-height: 100px;
  margin: 10px;
}

.add-button {
  width: 10%;
  float: right;
  margin: 10px;
  background: darkgreen;
  color: aquamarine;
}

.item-list {
  margin-top: 50px;
}

.add-more-sector {
  height: 30px;
  margin: 20px;
  background: aliceblue;
}

.add-more-button {
  background: none;
  color: blue;
  border: none;
  margin-left: 45%;
}

.no-more-label {
  margin-top: 10%;
  background: none;
  color: black;
  font-size: medium;
  border: none;
  margin-left: 40%;
}

