<app-header></app-header>
<div class="login-back">
  <div class="dataDiv">
    <div class="nameInput">
      <label for="name">{{ 'FORMS.LOGIN.LOGIN_LABEL' | translate}} </label>
      <input id="name" name = "login" #login="ngModel" class="inputField" [(ngModel)]="name" required>
      <div *ngIf="login.invalid || login.pristine" class="validation-error-message">
        {{ 'FORMS.LOGIN.LOGIN_VALIDATION_MESSAGE' | translate}}
      </div>
    </div>
    <div class="passwordInput">
      <label for="password">{{ 'FORMS.LOGIN.PASSWORD_LABEL' | translate}} </label>
      <input type="password" id="password" #pass="ngModel" class="inputField" [(ngModel)]="password">
      <div *ngIf="pass.invalid || pass.pristine" class="validation-error-message">
        {{ 'FORMS.LOGIN.PASSWORD_VALIDATION_MESSAGE' | translate}}
      </div>
    </div>
    <button *ngIf="!login.invalid&&!pass.invalid" class="loginButton" (click)="loginUser()">{{ 'FORMS.LOGIN.BUTTON' | translate}}</button>
  </div>
</div>
<app-footer></app-footer>
