<app-header></app-header>
<div class="login-back">
  <div class="dataDiv">
    <div class="nameInput">
      <label for="name">Login </label>
      <input id="name" name = "login" #login="ngModel" class="inputField" [(ngModel)]="name" required>
      <div *ngIf="login.invalid || login.pristine" class="validation-error-message">
        Login is required
      </div>
    </div>
    <div class="passwordInput">
      <label for="password">Password </label>
      <input type="password" id="password" #pass="ngModel" class="inputField" [(ngModel)]="password">
      <div *ngIf="pass.invalid || pass.pristine" class="validation-error-message">
        Password is required
      </div>
    </div>
    <button *ngIf="!login.invalid&&!pass.invalid" class="loginButton" (click)="loginUser()">Login</button>
  </div>
</div>
<app-footer></app-footer>
