<div class="ap-header">
  <div class="ap-header-left">
    <app-logo></app-logo>
  </div>
  <div class="ap-header-right">
    <div class="select-locale">
      <select (change)="changeLocale()" [(ngModel)]="selectedLanguage">
        <option *ngFor="let language of languages" [value]="language.id">{{ language.title }}</option>
      </select>
    </div>
    <div class="user-info-container">
      <img *ngIf="isAuthenticated" class="user-icon" src="assets/img/user.png"/>
      <label *ngIf="isAuthenticated" class="user-name">{{firstName}} {{lastName}}</label>
    </div>
    <div class="user-logon-container">
      <button *ngIf="isAuthenticated" type="button" class="logout-button" (click)="onClick()">{{ 'FORMS.HEADER_LOGOUT' | translate}}</button>
    </div>
  </div>
</div>
