<div class="ap-header">
  <div class="ap-header-left">
    <app-logo></app-logo>
  </div>
  <div class="ap-header-right">
    <div class="user-info-container">
      <img *ngIf="isAuthenticated" class="user-icon" src="assets/img/user.png"/>
      <label *ngIf="isAuthenticated" class="user-name">{{lastName}} {{lastName}}</label>
    </div>
    <div class="user-logon-container">
      <button *ngIf="isAuthenticated" type="button" class="logout-button" (click)="onClick()">Log Out</button>
    </div>
  </div>
</div>
