.ap-header {
  height: 40px;
  background: darkslategray;
}

.user-icon {
  max-width: 30px;
  margin: 5px;
}

.user-name {
  color: aliceblue;
  position: absolute;
  margin-left: 5px;
  margin-top: 10px;
}

.ap-header-left {
  width: 75%;
  float: left;
}

.ap-header-right {
  width: 25%;
  float: left;
}
.user-info-container {
  width: 60%;
  float: left;
}
.user-logon-container {
  width: 40%;
  float: left;
}

.logout-button {
  background: none;
  border: none;
  color: aliceblue;
  position: absolute;
  max-height: 30px;
  margin-left: 5px;
  margin-top: 10px;
}
