.input-label {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16pt;
  margin-left: 10px;
  display: block;
}

.input-text{
  display: block;
  margin-left: 5px;
  width: 90%;
  height: 30px;
}

.validation-error-message {
  color: red;
  font-size: 9px;
  margin-left: 10px;
}

.input-teat-area {
  display: block;
  margin-left: 5px;
  width: 90%;
  height: 60px;
}

.button-section {
  display: block;
  margin-top: 5px;
  text-align: center;
}
.authors-list {
  width: 100%;
}

