<app-header></app-header>
<app-breadcrumb courseName="{{videoItem.title}}"></app-breadcrumb>
<div>
  <div>
    <label class="input-label" for="courseName">Title</label>
    <input class="input-text" id="courseName" [(ngModel)]="videoItem.name">
  </div>
  <div>
    <label class="input-label" for="courseDescription">Description</label>
    <textarea class="input-teat-area" id="courseDescription" [(ngModel)]="videoItem.description"></textarea>
  </div>
  <app-datepicker [courseDate]="videoItem.date"></app-datepicker>
  <app-duration (changeEvent)="onDurationChange($event)" [duration]="videoItem.length"></app-duration>
  <app-tags></app-tags>
  <div class="button-section">
    <input type="button" value="Save" (click)="onSave()">
    <input type="button" value="Cancel" (click)="onCancell()">

  </div>
</div>
<app-footer></app-footer>
