.ap-search {
  height: 60px;
}

.search-string {
  width: 20%;
  float: left;
  margin: 10px;
}

.seach-button {
  width: 10%;
  float: left;
  margin: 10px;
  background: darkgreen;
  color: aquamarine;
}

